.footer {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  gap: 10px;
}
.page {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
