name: CI/CD Pipeline # 工作流名称

# 1. 触发机制：当 main 分支有代码推送时触发
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

# 2. 定义任务
jobs:
  # --- 任务一：代码质量检查 (CI) ---
  check-code:
    runs-on: ubuntu-latest
    steps:
      - name: 拉取代码
        uses: actions/checkout@v4

      - name: 安装 Node.js 环境
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "npm" # 自动缓存 node_modules，加速构建

      - name: 安装依赖
        run: npm install

      # - name: 运行代码检查 (Lint)
      #   run: npm run lint

      # - name: 运行单元测试 (Test)
      #   run: npm run test

  # --- 任务二：构建并推送镜像 (CD) ---
  build-and-push:
    needs: check-code # 【关键】只有当 check-code 任务成功后，才执行这一步
    runs-on: ubuntu-latest
    steps:
      - name: 拉取代码
        uses: actions/checkout@v4

      - name: 登录 Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }} # 读取你配置的 Secret
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: 设置 Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: 构建并推送镜像
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # 镜像标签：用户名/项目名:latest
          tags: ${{ secrets.DOCKER_USERNAME }}/my-node-app:latest
